@using ConecteDoe.Dominio.Entities

@model IEnumerable<Doacao>


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conecte Doe</title>

    <!--
      - favicon link
    -->
    <link rel="shortcut icon" href="https://raw.githubusercontent.com/gabrielacarv/ConecteDoeImagens/main/ConecteDoe.ico" type="image/svg+xml">

    <!--
      - custom css link
    -->
    <link rel="stylesheet" href="~/css/AdministracaoIndex.css" asp-append-version="true" />

    <!--
      - google font link
    -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>

    <header>
        <div class="container">

            <a href="#" class="logo">
                <img src="https://raw.githubusercontent.com/gabrielacarv/ConecteDoeImagens/main/LogoConecteDoe.png" width="180px" alt="ConecteDoe logo">
            </a>
            <div class="navbar-wrapper">
                <button class="navbar-menu-btn" data-navbar-toggle-btn>
                    <ion-icon name="menu-outline"></ion-icon>
                </button>
                <nav class="navbar" data-navbar>
                    <ul class="navbar-list">
                        <li class="nav-item">
                            <a asp-controller="Plataforma" asp-action="IndexAdmin" class="nav-link">Início</a>
                        </li>
                        <li class="nav-item">
                            <a href="#about" class="nav-link">Instituições</a>
                        </li>

                        <li class="nav-item">
                            <a asp-controller="Logar" asp-action="Logout">
                                <svg id="IconSair" xmlns="http://www.w3.org/2000/svg" height="1.2em" viewBox="0 0 512 512">
                                    <!--! Font Awesome Free 6.4.2 by @@fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                    <style>
                                        svg {
                                            fill: #abed1a
                                        }</style>
                                    <path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z" />
                                </svg>
                            </a>
                        </li>

                        @* <a asp-controller="Logar" asp-action="Index" class="nav-link">
                        Sair
                        </a> *@
                    </ul>

                    @* <a asp-controller="Logar" asp-action="Index"><button class="btn btn-primary">Sair</button></a> *@
                </nav>
            </div>
        </div>
    </header>


    <section>
        <div class="container">

            @*@using (Html.BeginForm("Busca", "Administracao", FormMethod.Get))
            {
                <div class="container-busca">
                    <input type="text" name="searchTerm" placeholder="Pesquisa" />
                    <button type="submit">Buscar</button>
                </div>
            }*@

            <div class="forms-container">
                <div lass="header_fixed">
                    <table id="tabelaResultados" class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th>Doador</th>
                                <th>Data</th>
                                <th>Valor</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="centraliza-coluna">
                                        @item.DoadorId
                                    </td>
                                    <td class="centraliza-coluna">
                                        @item.DataDoacao.ToShortDateString()
                                    </td>
                                    <td class="centraliza-coluna">
                                        @item.Valor
                                    </td>
                                    @*<td class="centraliza-coluna">
                                @*<a class="btn btn-danger btn-xs" asp-action="Excluir" asp-controller="Funcionario" asp-route-funcionarioId="@item.UsuarioId">
                                <i class="fas fa-solid fa-trash" style="color: #ed1d1d;"></i>
                                </a>*@
                                    @*<a asp-action="Excluir" asp-controller="Usuario" asp-route-usuarioId="@item.UsuarioId">
                                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
                                <!--! Font Awesome Free 6.4.2 by @@fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                <style>
                                svg {
                                fill: #ed1d1d
                                }</style>
                                <path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z" />
                                </svg>
                                </a>
                                </td>*@
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
    </section>

    <script>
        $(document).ready(function () {
            $('form').on('submit', function (event) {
                event.preventDefault(); // Evitar o envio padrão do formulário

                var searchTerm = $('input[name="searchTerm"]').val();

                // Enviar a solicitação AJAX para buscar os resultados da pesquisa
                $.get("/Administracao/Busca", { searchTerm: searchTerm }, function (data) {
                    // Atualizar a tabela com os resultados da pesquisa
                    $("#tabelaResultados tbody").html(data);
                });
            });
        });
    </script>

</body>
